

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Belleflair;
    src: url('.././Bellefair-Regular.ttf');
  }
  @font-face {
    font-family: BarlowCondensed;
    src: url('./BarlowCondensed-Regular.ttf');
  }
  .active {
    background: #fff;
    opacity: 1;

}
.links::after{
  content: '';
  width: 1px;
  height:4rem;
  
  background: #fff;
  justify-self: end;
  rotate: 90deg;

}
.activeDest{
  border-bottom: 1px solid white;
}
.navmenu{
  backdrop-filter: blur(40px);
  /* right: 50%; */
}

.menu-leave-to  {
  right: -50% ;
  opacity: 0;
}
.menu-enter-from{
  right: -50% ;
  opacity: 0;
}
.menu-enter-from{
  transition: all 3s;
}
.menu-leave-to {
  transition:all 1s;
}

